In [38]:
# Importando as bibliotecas do pandas
import pandas as pd
import random
from datetime import datetime, timedelta

In [39]:
# Definição dos produtos e categorias
produtos = [
    ("Hamburguer Classico", "Sanduiche", 15.90),
    ("Cheeseburger", "Sanduiche", 17.50),
    ("X-Bacon", "Sanduiche", 20.00),
    ("X-Tudo", "Sanduiche", 24.00),
    ("Batata Frita Pequena", "Acompanhamento", 8.00),
    ("Batata Frita Grande", "Acompanhamento", 12.00),
    ("Refrigerante Lata", "Bebida", 6.50),
    ("Refrigerante Garrafa", "Bebida", 10.50),
    ("Milkshake Chocolate", "Bebida", 14.00),
    ("Milkshake Morango", "Bebida", 14.00),
    ("Cachorro-Quente Simples", "Sanduiche", 12.00),
    ("Cachorro-Quente com Bacon", "Sanduiche", 18.00),
    ("Nuggets (6 unidades)", "Acompanhamento", 10.00),
    ("Combo Simples (1 X-Tudo - 1 Refrigerante Lata)", "Combo", 35.00),
    ("Combo Duplo (1 X-Tudo - 1X-Bacon - 2 Refrigerante Lata)", "Combo", 45.00),
    ("Combo Familia (6 X-Tudo - Nuggets - 1 Refrigerante Garrafa)", "Combo", 65.00),
    ("Agua Mineral", "Bebida", 5.00),
    ("Energetico Lata", "Bebida", 7.50),
    ("Cerveja Lata", "Bebida", 7.00)
]

formas_pagamento = ["Dinheiro", "Cartao de Credito", "Cartao de Debito", "Pix"]

In [ ]:
# Gerando dados fictícios da lanchonete - Ano inicial 2022 ate a data atual
num_registros = 10000
data_inicio = datetime(2022, 1, 1)
data_fim = datetime.today()  # Define o limite superior como a data atual
dias_intervalo = (data_fim - data_inicio).days  # Calcula a quantidade de dias entre as datas
dados = []

for i in range(1, num_registros + 1):
    data_venda = data_inicio + timedelta(days=random.randint(0, dias_intervalo))
    produto, categoria, preco_unitario = random.choice(produtos)
    quantidade = random.randint(1, 5)
    total_venda = round(quantidade * preco_unitario, 2)
    forma_pagamento = random.choice(formas_pagamento)
    
    dados.append([i, data_venda.strftime("%Y-%m-%d"), produto, categoria, quantidade, preco_unitario, total_venda, forma_pagamento])

In [41]:
# Criando DataFrame
colunas = ["ID_Venda", "Data_Venda", "Produto", "Categoria", "Quantidade", "Preco_Unitario", "Total_Venda", "Forma_Pagamento"]
df = pd.DataFrame(dados, columns=colunas)

In [42]:
# Exibir as primeiras linhas do DataFrame
df.head()

,ID_Venda,Data_Venda,Produto,Categoria,Quantidade,Preco_Unitario,Total_Venda,Forma_Pagamento
0,1,2024-05-04,X-Tudo,Sanduiche,5,24.0,120.0,Cartao de Credito
1,2,2023-03-17,Batata Frita Pequena,Acompanhamento,2,8.0,16.0,Pix
2,3,2022-12-15,X-Tudo,Sanduiche,4,24.0,96.0,Dinheiro
3,4,2022-05-27,Milkshake Morango,Bebida,4,14.0,56.0,Dinheiro
4,5,2022-12-14,Energetico Lata,Bebida,2,7.5,15.0,Pix

In [43]:
# Salvando os dados em formato .csv
#df.to_csv('vendasBurgerExpress.csv', index=False)

# Salvando os dados em formato .xlsx
df.to_excel('vendasBurgerExpress.xlsx', index=False)