In [23]:
import pandas as pd

In [24]:
df = pd.read_excel("vendasBurgerExpress.xlsx")
df.head()

,ID_Venda,Data_Venda,Produto,Categoria,Quantidade,Preco_Unitario,Total_Venda,Forma_Pagamento
0,1,2022-02-05,Combo Simples (1 X-Tudo - 1 Refrigerante Lata),Combo,4,35.0,140.0,Dinheiro
1,2,2024-02-02,Batata Frita Pequena,Acompanhamento,4,8.0,32.0,Cartao de Debito
2,3,2022-04-27,Batata Recheada,Sanduiche,5,26.5,132.5,Cartao de Credito
3,4,2022-06-24,Milkshake Chocolate,Bebida,3,14.0,42.0,Cartao de Debito
4,5,2023-03-21,Combo Familia (6 X-Tudo - Nuggets - 1 Refriger...,Combo,5,65.0,325.0,Pix

In [25]:
# Ordena a data
df = df.sort_values(by="Data_Venda")
df.head()

,ID_Venda,Data_Venda,Produto,Categoria,Quantidade,Preco_Unitario,Total_Venda,Forma_Pagamento
5326,5327,2022-01-01,Milkshake Morango,Bebida,4,14.0,56.0,Cartao de Credito
1835,1836,2022-01-01,X-Bacon,Sanduiche,5,20.0,100.0,Cartao de Debito
6531,6532,2022-01-01,Batata Frita Grande,Acompanhamento,2,12.0,24.0,Dinheiro
4326,4327,2022-01-01,Batata Frita Grande,Acompanhamento,1,12.0,12.0,Pix
9823,9824,2022-01-01,X-Tudo,Sanduiche,3,24.0,72.0,Dinheiro

In [ ]:
# Converter Data_Venda para datetime. dt.date irá deixar apenas a data
df["Data_Venda"] = pd.to_datetime(df["Data_Venda"], format="%Y-%m-%d").dt.date

In [27]:
# Verificar valores nulos
print(df.isnull().sum())  # Para ver se há valores faltantes

# Se houver valores nulos, podemos preencher ou remover:
# df.fillna({"Coluna": valor_padrao}, inplace=True)  # Preencher valores nulos
# df.dropna(inplace=True)  # Remover linhas com valores nulos

ID_Venda           0
Data_Venda         0
Produto            0
Categoria          0
Quantidade         0
Preco_Unitario     0
Total_Venda        0
Forma_Pagamento    0
dtype: int64

In [28]:
# Verificação de consistência da coluna Total_Venda
df["Total_Calculado"] = df["Quantidade"] * df["Preco_Unitario"]

# Verificar diferenças entre Total_Venda e o cálculo manual
df["Diferenca_Total"] = df["Total_Calculado"] - df["Total_Venda"]
erros = df[df["Diferenca_Total"] != 0]
print("Erros encontrados: \n", erros)

# Opcional: Ajustar `Total_Venda` se houver erro
# df["Total_Venda"] = df["Total_Calculado"]

# Remover colunas auxiliares
df.drop(columns=["Total_Calculado", "Diferenca_Total"], inplace=True)

Erros encontrados:
 Empty DataFrame
Columns: [ID_Venda, Data_Venda, Produto, Categoria, Quantidade, Preco_Unitario, Total_Venda, Forma_Pagamento, Total_Calculado, Diferenca_Total]
Index: []

In [29]:
# Salvando os dados em formato .xlsx
df.to_excel('vendasBurgerExpress_Tratado.xlsx', index=False)